
       html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }
  
        .parent-box {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
  
.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}
.form-control:focus {
    box-shadow: none;
}
